extends ./templates/template.pug

block title
  title Login

block content
  include ./include/_flash.pug
  h1 Login
  form(method="POST" action="/login")
    input(type="hidden" name="_csrf" value=csrfToken)
    div.form-group
      label(for="email") Email
      input.form-control(type="text" name="email")
    div.form-group
      label(for="password") Password
      input.form-control(type="password" name="password")
    div
      input(type="submit" name="login")

block footer